.home {
	padding: 56px 20px;
	min-height: 100%;
	width: 100%;
}

.exercice {
	margin-top: 25px;
	margin-bottom: 25px;
}

.lineHeader {
	margin-right: 20px;
}

.number {
	font-family: 'Courier New', Courier, monospace;
	font-weight: bold;
}